.image-box {
    position: relative;
}

.image-box-media {
    display: block;
    min-width: 100%;
    min-height: 100%;
    height: auto;
}

.image-box-overlay{
    position: absolute;
    color: orange !important;
    top: 200px;
    width: 100%;
    padding: 50px;
    background: rgba(0,0,0,0.7);

}

section.top {
    min-height: 500px;
}

section.code {
    width: 1100px !important;
    top: -500px !important;
    left: -600px !important;
}

.highlight.red{
    color: #ff2c2d
}

.highlight.green {
    color: #17ff2e;
}

.highlight.blue {
    color: #1b91ff;
}

li.fragment {
    list-style-type: none;
}

.box.highlight-red {
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #ff2c2d;
    color: #fff
}

.bottom-20 {
    margin-bottom: 20px !important;
}

.bottom-40 {
    margin-bottom: 40px !important;
}
.bottom-50 {
    margin-bottom: 50px !important;
}
.bottom-60 {
    margin-bottom: 60px !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

span.y {
    color: #c7be42;
}

span.o {
    color: #d58b48;
}

span.p {
    color: #a98daf;
}

span.g {
    color: #7b8e62;
}

span.b {
    color: #7ca8c6;
}

.strike {
    text-decoration: line-through;
}

#repeat {
    -webkit-animation-iteration-count: infinate !important;
}